input {
  border: none;
  background-color: gray;
  padding: 5px;
  border-radius: 5px;
  width: 250px;
}

* {
  margin: 10px;
  margin-left: 3px;
}

#noteText {
  box-shadow: 0px 0px 10px black;
  padding: 5px;
  border-radius: 5px;
  margin: 50px;
  font-size: 30px;
  text-align: left;
  line-height: 30px;
  min-height: 300px;
}

.exists {
  color: rgb(226, 27, 27);
}

* {
  font-size: 50px;
  font-family: sans-serif;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}

#input {
  border: none;
  box-shadow: 0px 0px 10px black;
  border-radius: 5px;
  margin: 50px;
  font-size: 30px;
  line-height: 30px;
  padding: 5px;
  width: 50%;
  text-align: left;
  resize: none;
  height: 300px;
}

input {
  width: 50%;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

textarea:focus,
input:focus {
  outline: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 0.5; /* Firefox */
}

@media (prefers-color-scheme: light) {
  body {
    background-color: white;
  }
  p {
    color: black;
  }
  button {
    border: solid black 2px;
    background-color: white;
    color: black;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
  }
  p {
    color: white;
  }

  div {
    color: white;
  }

  button {
    border: solid white 2px;
    background-color: black;
    color: white;
  }

  #noteText {
    border: 2px solid white;
    background-color: black;
    color: white;
  }

  #input {
    border: 2px solid white;
    background-color: black;
    color: white;
  }
}
